
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" id="scrollnav">

    <ul class="nav nav-pills">
      <li> <%= image_tag("/logo.png", size: "324x36", alt: "Chronoscope") %></li>
      <li> <a href="#description" data-scroll="true" >Description </a> </li>
      <li> <a href="#timeline" data-scroll="true" >Create chronology </a>  </li>
    </ul>

  </div>
</div>
<div class="container-fluid">
  <div class="row" id="description">

    <p id="center"><%= image_tag("/logobig.jpg", alt: "Chronoscope") %></p>
    <h4 id="text">Chronoscope is purposed for building chronology. It searches objects, which you are interested in, using Wikipedia, grabs dates, some useful information and link to wiki page and displays that data in chronological order.
    <br>Try it!
    <br>Here are some interesting examples, that are already done by chronoscope:</h4>
    <h5  id="text2">
      <%= render 'examples' %>
    </h5>
  </div>
  <div class="row" id="timeline">
    <%= render 'form' %>
    <div id="time_line"></div>
  </div>
  <div class="row" id="last">
    <h3>Last requests: </h3>
    <h5 class='list-requests'>
      <%= render 'last_requests' %>
    </h5>
  </div>
</div>
<footer>
  <h5 id="center" > Black Magic </h5>
</footer>
